body {
    background: #111;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.calculator {
    width: 320px;
    background: #1d1d1d;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#display {
    width: 90%;
    height: 80px;
    background: #000;
    color: #fff;
    border: none;
    font-size: 36px;
    text-align: right;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 12px;
}

button {
    height: 65px;
    border: none;
    border-radius: 50px;
    font-size: 22px;
    color: white;
    background: #333;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #444;
}

.top {
    background: #a5a5a5;
    color: black;
}

.operator {
    background: #ff9500;
}

.equal {
    background: #ff9500;
    font-size: 26px;
}

.zero {
    grid-column: span 2;
}
